<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!-- update_date랑 updateDate를 처리하는 것-->
    </settings>

    <typeAliases>
        <package name="org.scoula.security.account.domain" />
        <package name="org.scoula.board.domain" />
    </typeAliases>

</configuration>
